USE [master]
GO
/****** Object:  Database [BOG]    Script Date: 2/18/2019 11:26:25 AM ******/
CREATE DATABASE [BOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOG_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\BOG_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BOG_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\BOG_Log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOG]
GO
/****** Object:  Table [dbo].[Comments.Tbl]    Script Date: 2/18/2019 11:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments.Tbl](
	[CommentID.PK] [int] IDENTITY(1,1) NOT NULL,
	[UserID.FK] [int] NOT NULL,
	[PropertyID.FK] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[DateSubmitted] [date] NOT NULL,
	[MonthYearVisist] [date] NULL,
	[Comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_Comments.Tbl] PRIMARY KEY CLUSTERED 
(
	[CommentID.PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property.Tbl]    Script Date: 2/18/2019 11:26:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property.Tbl](
	[PropertyID.PK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeID.FK] [int] NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [numeric](5, 0) NOT NULL,
	[DailyPrice] [smallmoney] NOT NULL,
	[NumBedrooms] [smallint] NOT NULL,
	[NumBathrooms] [smallint] NOT NULL,
	[SqFt] [smallint] NULL,
	[GuestCnt] [smallint] NULL,
 CONSTRAINT [PK_Rental.Property] PRIMARY KEY CLUSTERED 
(
	[PropertyID.PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyType.Tbl]    Script Date: 2/18/2019 11:26:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyType.Tbl](
	[PropertyTypeID.PK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [nchar](10) NULL,
 CONSTRAINT [PK_PropertyTypeT] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID.PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation.Tbl]    Script Date: 2/18/2019 11:26:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation.Tbl](
	[ReservationID.PK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID.FK] [int] NOT NULL,
	[UserID.FK] [int] NOT NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[TotalPayment] [money] NOT NULL,
	[GuestCnt] [smallint] NULL,
 CONSTRAINT [PK_Active.Rentals] PRIMARY KEY CLUSTERED 
(
	[ReservationID.PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User.Tbl]    Script Date: 2/18/2019 11:26:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User.Tbl](
	[UserID.PK] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [numeric](5, 0) NOT NULL,
	[PhoneNumber] [numeric](10, 0) NOT NULL,
	[CC.Number] [numeric](15, 0) NULL,
	[CC.ExpDate] [date] NULL,
	[CC.Cvc] [numeric](3, 0) NULL,
 CONSTRAINT [PK_User.Account] PRIMARY KEY CLUSTERED 
(
	[UserID.PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments.Tbl] ON 

INSERT [dbo].[Comments.Tbl] ([CommentID.PK], [UserID.FK], [PropertyID.FK], [Rating], [DateSubmitted], [MonthYearVisist], [Comments]) VALUES (1, 2, 3, 3, CAST(N'2019-02-15' AS Date), NULL, NULL)
INSERT [dbo].[Comments.Tbl] ([CommentID.PK], [UserID.FK], [PropertyID.FK], [Rating], [DateSubmitted], [MonthYearVisist], [Comments]) VALUES (2, 4, 6, 2, CAST(N'2019-02-15' AS Date), CAST(N'2018-12-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Comments.Tbl] OFF
SET IDENTITY_INSERT [dbo].[Property.Tbl] ON 

INSERT [dbo].[Property.Tbl] ([PropertyID.PK], [PropertyTypeID.FK], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt]) VALUES (1, 1, N'232 Pine', N'Aspen', N'CO', CAST(80433 AS Numeric(5, 0)), 400.0000, 3, 2, NULL, NULL)
INSERT [dbo].[Property.Tbl] ([PropertyID.PK], [PropertyTypeID.FK], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt]) VALUES (3, 2, N'5543 Monarch', N'Miami', N'FL', CAST(23232 AS Numeric(5, 0)), 200.0000, 2, 2, NULL, NULL)
INSERT [dbo].[Property.Tbl] ([PropertyID.PK], [PropertyTypeID.FK], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt]) VALUES (5, 3, N'884 2nd', N'New York', N'NY', CAST(55423 AS Numeric(5, 0)), 750.0000, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Property.Tbl] OFF
SET IDENTITY_INSERT [dbo].[PropertyType.Tbl] ON 

INSERT [dbo].[PropertyType.Tbl] ([PropertyTypeID.PK], [PropertyTypeName]) VALUES (1, N'Home      ')
INSERT [dbo].[PropertyType.Tbl] ([PropertyTypeID.PK], [PropertyTypeName]) VALUES (2, N'Condo     ')
INSERT [dbo].[PropertyType.Tbl] ([PropertyTypeID.PK], [PropertyTypeName]) VALUES (3, N'Cabin     ')
SET IDENTITY_INSERT [dbo].[PropertyType.Tbl] OFF
SET IDENTITY_INSERT [dbo].[Reservation.Tbl] ON 

INSERT [dbo].[Reservation.Tbl] ([ReservationID.PK], [PropertyID.FK], [UserID.FK], [CheckIn], [CheckOut], [TotalPayment], [GuestCnt]) VALUES (2, 3, 2, CAST(N'2019-02-15' AS Date), CAST(N'2019-02-16' AS Date), 800.0000, 3)
INSERT [dbo].[Reservation.Tbl] ([ReservationID.PK], [PropertyID.FK], [UserID.FK], [CheckIn], [CheckOut], [TotalPayment], [GuestCnt]) VALUES (3, 6, 3, CAST(N'2019-06-02' AS Date), CAST(N'2019-07-02' AS Date), 4500.0000, 2)
SET IDENTITY_INSERT [dbo].[Reservation.Tbl] OFF
SET IDENTITY_INSERT [dbo].[User.Tbl] ON 

INSERT [dbo].[User.Tbl] ([UserID.PK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CC.Number], [CC.ExpDate], [CC.Cvc]) VALUES (1, N'admin@bog.com', N'admin', N'Admin', N'Admin', N'123 BOG', N'Denver', N'CO', CAST(80022 AS Numeric(5, 0)), CAST(3035551000 AS Numeric(10, 0)), NULL, NULL, NULL)
INSERT [dbo].[User.Tbl] ([UserID.PK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CC.Number], [CC.ExpDate], [CC.Cvc]) VALUES (2, N'foo@gmail.com', N'password', N'foo', N'bar', N'123 Center Drive', N'Detroit', N'MI', CAST(48750 AS Numeric(5, 0)), CAST(8005552232 AS Numeric(10, 0)), NULL, NULL, NULL)
INSERT [dbo].[User.Tbl] ([UserID.PK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CC.Number], [CC.ExpDate], [CC.Cvc]) VALUES (3, N'robert@gmail.com', N'1234', N'Robert', N'P', N'462 Hunter Ct', N'Erie', N'CO', CAST(80513 AS Numeric(5, 0)), CAST(7207762212 AS Numeric(10, 0)), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User.Tbl] OFF
ALTER TABLE [dbo].[Comments.Tbl] ADD  CONSTRAINT [DF_Comments.Tbl_DateSubmitted]  DEFAULT (getdate()) FOR [DateSubmitted]
GO
ALTER TABLE [dbo].[Reservation.Tbl] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckIn]  DEFAULT (getdate()) FOR [CheckIn]
GO
ALTER TABLE [dbo].[Reservation.Tbl] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckOut]  DEFAULT (getdate()+(1)) FOR [CheckOut]
GO
ALTER TABLE [dbo].[User.Tbl] ADD  CONSTRAINT [DF_User.Account_User.State]  DEFAULT (N'UPPER') FOR [State]
GO
ALTER TABLE [dbo].[Comments.Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Comments.Tbl_Property.Tbl] FOREIGN KEY([PropertyID.FK])
REFERENCES [dbo].[Property.Tbl] ([PropertyID.PK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments.Tbl] CHECK CONSTRAINT [FK_Comments.Tbl_Property.Tbl]
GO
ALTER TABLE [dbo].[Comments.Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Comments.Tbl_User.Tbl] FOREIGN KEY([UserID.FK])
REFERENCES [dbo].[User.Tbl] ([UserID.PK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments.Tbl] CHECK CONSTRAINT [FK_Comments.Tbl_User.Tbl]
GO
ALTER TABLE [dbo].[Property.Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Property.Tbl_PropertyType.Tbl] FOREIGN KEY([PropertyTypeID.FK])
REFERENCES [dbo].[PropertyType.Tbl] ([PropertyTypeID.PK])
GO
ALTER TABLE [dbo].[Property.Tbl] CHECK CONSTRAINT [FK_Property.Tbl_PropertyType.Tbl]
GO
ALTER TABLE [dbo].[Reservation.Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Reservation.Tbl_Property.Tbl] FOREIGN KEY([PropertyID.FK])
REFERENCES [dbo].[Property.Tbl] ([PropertyID.PK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation.Tbl] CHECK CONSTRAINT [FK_Reservation.Tbl_Property.Tbl]
GO
ALTER TABLE [dbo].[Reservation.Tbl]  WITH CHECK ADD  CONSTRAINT [FK_Reservation.Tbl_User.Tbl] FOREIGN KEY([UserID.FK])
REFERENCES [dbo].[User.Tbl] ([UserID.PK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation.Tbl] CHECK CONSTRAINT [FK_Reservation.Tbl_User.Tbl]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - 5 Stars (Lowest to Highest)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comments.Tbl', @level2type=N'COLUMN',@level2name=N'Rating'
GO
USE [master]
GO
