@charset "utf-8";

/*
        Course:         CIS 665 - EBusiness Applications, Spring 2019
        Assignment:     HTML & CSS
        Author:         Robert Palumbo
        Due Date:       Tues, Feb 19 @ 11:59pm

        Filename:       amp_autoservices_styles.css

        Basic style and layout information for the website
*/

html {
    background-image: url("amp_background.jpg")
}

article#testimonials p:first-of-type::first-line {
    font-variant: small-caps;
    font-family: 'Palatino Linotype';
}

/*article#testimonials  p:first-of-type::first-letter {
    font-size: 300%;

}*/

