/wildfly-15.0.1.Final
/*.zip
/Week01/*.mp4
/Week01/*.crdownload
*.crdownload
*.zip
*.~vsdx
*.mp4
debug
/Assignments/public_html/PHPs/Calculator-PHPUnit/nbproject/private/
/Assignments/public_html/PHPs/SP19PHPHOE-LocalHost/nbproject/private/
/Assignments/public_html/PhpDemos/SP19PHPDemos/PHP-HOE1-tmp/nbproject/private/
~$searchProjectNotes.docx
~WRL3498.tmp
Zips
/CourseProject/BOG/BOG/nbproject/private/
deprecate
/CourseProject/BOG/nbproject/private/
ASP.040419
ASP.Old
/Assignments/public_html/AspPublish
obj
bin
