USE [master]
GO
/****** Object:  Database [BOG]    Script Date: 4/1/2019 9:58:08 AM ******/
CREATE DATABASE [BOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Team115DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\Team115DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Team115DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\Team115DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOG]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBogCheckReservDates]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    fnBogCheckReservDates.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used if a property has already been reserved for 
--              the specified date rate.  If no rows are returned then the dates
--              are available.
--
-- Constraint:  both dates must be greater than current date, checkout date must be
--              at least 1 day after checkin date.
-- ==================================================================================
CREATE     FUNCTION [dbo].[fnBogCheckReservDates]
(
    @propertyId smallint = 0,
    @checkinDate date,
    @checkoutDate date
)
RETURNS INT
BEGIN
    DECLARE @result int = -1;
    DECLARE @currDate date = GETDATE();

    -- Make sure parameters are valid
    IF (@propertyId > 0
        AND @checkinDate >= @currDate
        AND @checkoutDate > @checkinDate)
        BEGIN   
            IF NOT EXISTS (SELECT 1 FROM ReservationT r
                                WHERE [PropertyIdFK] = @propertyId
                                    AND 
 										((@checkinDate BETWEEN r.CheckIn AND r.CheckOut)
										OR
										 (@checkoutDate BETWEEN r.CheckIn AND r.CheckOut)))
									
                BEGIN
                    -- No reservations exist for this property and date range
                    SET @result = 0;   
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnBogVerifyEmail]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description: verifies pre-existence of the
--  specified email address. To be used for
--  registering a new user
--
-- =============================================
CREATE     FUNCTION [dbo].[fnBogVerifyEmail]
(
    @email nvarchar(50) = null
)
RETURNS int
WITH EXECUTE AS CALLER
AS
BEGIN
    DECLARE @result int = -1;

    --PRINT N'VerifyEmail: ' + @email;

	-- Add the T-SQL statements to compute the return value here
	IF EXISTS (SELECT * from [UserT] u
                    where u.Email = @email) 
    BEGIN 
        SET @result = 1;
    END;

	-- Return the result of the function
	RETURN @result;

END
GO
/****** Object:  Table [dbo].[CommentsT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentsT](
	[CommentIdPK] [int] IDENTITY(1,1) NOT NULL,
	[UserIdFK] [int] NOT NULL,
	[PropertyIdFK] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[DateSubmitted] [date] NOT NULL,
	[MonthYearVisit] [date] NULL,
	[Comments] [nvarchar](500) NULL,
 CONSTRAINT [PK_CommentsT] PRIMARY KEY CLUSTERED 
(
	[CommentIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyT](
	[PropertyIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeIdFK] [int] NOT NULL,
	[PropertyTitle] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [int] NOT NULL,
	[DailyPrice] [smallmoney] NOT NULL,
	[NumBedrooms] [smallint] NOT NULL,
	[NumBathrooms] [smallint] NOT NULL,
	[SqFt] [smallint] NULL,
	[GuestCnt] [smallint] NULL,
	[Pic] [varbinary](max) NULL,
	[ImageName] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_PropertyT] PRIMARY KEY CLUSTERED 
(
	[PropertyIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypeT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypeT](
	[PropertyTypeIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [nchar](10) NULL,
 CONSTRAINT [PK_PropertyTypeT] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationT](
	[ReservationIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyIdFK] [int] NOT NULL,
	[UserIdFK] [int] NOT NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[TotalPayment] [money] NOT NULL,
	[GuestCnt] [smallint] NULL,
 CONSTRAINT [PK_ReservationID] PRIMARY KEY CLUSTERED 
(
	[ReservationIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesT](
	[RoleIdPK] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_RolesT] PRIMARY KEY CLUSTERED 
(
	[RoleIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserT]    Script Date: 4/1/2019 9:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserT](
	[UserIdPK] [int] IDENTITY(1,1) NOT NULL,
	[RoleIdFK] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [int] NOT NULL,
	[PhoneNumber] [bigint] NOT NULL,
	[CCNumber] [bigint] NULL,
	[CCExpDate] [date] NULL,
	[CCCvc] [smallint] NULL,
 CONSTRAINT [PK_UserID] PRIMARY KEY CLUSTERED 
(
	[UserIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommentsT] ON 

INSERT [dbo].[CommentsT] ([CommentIdPK], [UserIdFK], [PropertyIdFK], [Rating], [DateSubmitted], [MonthYearVisit], [Comments]) VALUES (16, 12, 39, 4, CAST(N'2019-03-10' AS Date), CAST(N'2011-12-04' AS Date), N'What happens in Vegas Stays in Vegas')
INSERT [dbo].[CommentsT] ([CommentIdPK], [UserIdFK], [PropertyIdFK], [Rating], [DateSubmitted], [MonthYearVisit], [Comments]) VALUES (22, 4, 44, 5, CAST(N'2019-03-10' AS Date), CAST(N'2017-12-12' AS Date), N'Had great snow for skiing')
INSERT [dbo].[CommentsT] ([CommentIdPK], [UserIdFK], [PropertyIdFK], [Rating], [DateSubmitted], [MonthYearVisit], [Comments]) VALUES (23, 11, 61, 5, CAST(N'2019-03-17' AS Date), CAST(N'2020-12-12' AS Date), N'Great time!')
SET IDENTITY_INSERT [dbo].[CommentsT] OFF
SET IDENTITY_INSERT [dbo].[PropertyT] ON 

INSERT [dbo].[PropertyT] ([PropertyIdPK], [PropertyTypeIdFK], [PropertyTitle], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt], [Pic], [ImageName], [Description]) VALUES (34, 2, N'Colorado Get Away', N'4323 Mesa Ave', N'Colorade Spring', N'CO', 80701, 135.0000, 4, 2, 1200, 12, 0x, N'condo1.jpg', N'Amenities include Wifi, CableTV, Washer/Dryer Units, Kitchen with cookware. Hosts to this place are experienced and highly rated.')
INSERT [dbo].[PropertyT] ([PropertyIdPK], [PropertyTypeIdFK], [PropertyTitle], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt], [Pic], [ImageName], [Description]) VALUES (35, 1, N'The Den', N'1700 Big House Way', N'Ann Arbor', N'MI', 48750, 250.0000, 2, 2, 1200, 6, 0x, N'house2.jpg', N'Amenities include Wifi, CableTV, Washer/Dryer Units, Kitchen with cookware. Hosts to this place are experienced and highly rated.')
INSERT [dbo].[PropertyT] ([PropertyIdPK], [PropertyTypeIdFK], [PropertyTitle], [Address], [City], [State], [Zipcode], [DailyPrice], [NumBedrooms], [NumBathrooms], [SqFt], [GuestCnt], [Pic], [ImageName], [Description]) VALUES (36, 2, N'Spacious Stay', N'100 Old Spruce', N'Minneapolis', N'MN', 55111, 179.0000, 2, 1, 960, 4, 0x, N'condo1.jpg', N'Amenities include Wifi, CableTV, Washer/Dryer Units, Kitchen with cookware. Hosts to this place are experienced and highly rated.')
SET IDENTITY_INSERT [dbo].[PropertyT] OFF
SET IDENTITY_INSERT [dbo].[PropertyTypeT] ON 

INSERT [dbo].[PropertyTypeT] ([PropertyTypeIdPK], [PropertyTypeName]) VALUES (1, N'Home      ')
INSERT [dbo].[PropertyTypeT] ([PropertyTypeIdPK], [PropertyTypeName]) VALUES (2, N'Condo     ')
INSERT [dbo].[PropertyTypeT] ([PropertyTypeIdPK], [PropertyTypeName]) VALUES (3, N'Cabin     ')
SET IDENTITY_INSERT [dbo].[PropertyTypeT] OFF
SET IDENTITY_INSERT [dbo].[ReservationT] ON 

INSERT [dbo].[ReservationT] ([ReservationIdPK], [PropertyIdFK], [UserIdFK], [CheckIn], [CheckOut], [TotalPayment], [GuestCnt]) VALUES (19, 44, 4, CAST(N'2019-03-13' AS Date), CAST(N'2019-03-15' AS Date), 1500.0000, 4)
INSERT [dbo].[ReservationT] ([ReservationIdPK], [PropertyIdFK], [UserIdFK], [CheckIn], [CheckOut], [TotalPayment], [GuestCnt]) VALUES (20, 44, 4, CAST(N'2019-03-22' AS Date), CAST(N'2019-04-02' AS Date), 1500.0000, 4)
INSERT [dbo].[ReservationT] ([ReservationIdPK], [PropertyIdFK], [UserIdFK], [CheckIn], [CheckOut], [TotalPayment], [GuestCnt]) VALUES (22, 51, 17, CAST(N'2019-06-01' AS Date), CAST(N'2019-06-03' AS Date), 1500.0000, 4)
SET IDENTITY_INSERT [dbo].[ReservationT] OFF
SET IDENTITY_INSERT [dbo].[RolesT] ON 

INSERT [dbo].[RolesT] ([RoleIdPK], [RoleName]) VALUES (1, N'Admin     ')
INSERT [dbo].[RolesT] ([RoleIdPK], [RoleName]) VALUES (2, N'User      ')
SET IDENTITY_INSERT [dbo].[RolesT] OFF
SET IDENTITY_INSERT [dbo].[UserT] ON 

INSERT [dbo].[UserT] ([UserIdPK], [RoleIdFK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CCNumber], [CCExpDate], [CCCvc]) VALUES (3, 1, N'admin@bog.com', N'Admin', N'Administrator', N'Administrator', N'Unknown', N'Denver', N'CO', 80301, 3035551000, 0, CAST(N'1900-01-01' AS Date), 0)
INSERT [dbo].[UserT] ([UserIdPK], [RoleIdFK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CCNumber], [CCExpDate], [CCCvc]) VALUES (4, 1, N'robert@bog.com', N'1234', N'Robert', N'Palumbo', N'Unknown', N'Denver', N'CO', 80301, 3035551001, 0, CAST(N'1900-01-01' AS Date), 0)
INSERT [dbo].[UserT] ([UserIdPK], [RoleIdFK], [Email], [Password], [FirstName], [LastName], [Address], [City], [State], [Zipcode], [PhoneNumber], [CCNumber], [CCExpDate], [CCCvc]) VALUES (6, 1, N'kiana@bog.com', N'1234', N'Kiana', N'Vigil', N'Unknown', N'Denver', N'CO', 80301, 3035551002, 0, CAST(N'1900-01-01' AS Date), 0)
SET IDENTITY_INSERT [dbo].[UserT] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueEmailIdx]    Script Date: 4/1/2019 9:58:10 AM ******/
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [UniqueEmailIdx] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentsT] ADD  CONSTRAINT [DF_CommentsT_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[CommentsT] ADD  CONSTRAINT [DF_CommentsT_DateSubmitted]  DEFAULT (getdate()) FOR [DateSubmitted]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_DailyPrice]  DEFAULT ((0)) FOR [DailyPrice]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_NumBedrooms]  DEFAULT ((0)) FOR [NumBedrooms]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_NumBathrooms]  DEFAULT ((0)) FOR [NumBathrooms]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_SqFt]  DEFAULT ((0)) FOR [SqFt]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_GuestCnt]  DEFAULT ((0)) FOR [GuestCnt]
GO
ALTER TABLE [dbo].[ReservationT] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckIn]  DEFAULT (getdate()) FOR [CheckIn]
GO
ALTER TABLE [dbo].[ReservationT] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckOut]  DEFAULT (getdate()+(1)) FOR [CheckOut]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_User.Account_User.State]  DEFAULT (N'UPPER') FOR [State]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCNumber]  DEFAULT ((0)) FOR [CCNumber]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCExpDate]  DEFAULT ('') FOR [CCExpDate]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCCvc]  DEFAULT ((0)) FOR [CCCvc]
GO
ALTER TABLE [dbo].[CommentsT]  WITH CHECK ADD  CONSTRAINT [FK_CommentsT_PropertyT] FOREIGN KEY([PropertyIdFK])
REFERENCES [dbo].[PropertyT] ([PropertyIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentsT] CHECK CONSTRAINT [FK_CommentsT_PropertyT]
GO
ALTER TABLE [dbo].[CommentsT]  WITH CHECK ADD  CONSTRAINT [FK_CommentsT_UserT] FOREIGN KEY([UserIdFK])
REFERENCES [dbo].[UserT] ([UserIdPK])
GO
ALTER TABLE [dbo].[CommentsT] CHECK CONSTRAINT [FK_CommentsT_UserT]
GO
ALTER TABLE [dbo].[PropertyT]  WITH CHECK ADD  CONSTRAINT [FK_PropertyT_PropertyT] FOREIGN KEY([PropertyIdPK])
REFERENCES [dbo].[PropertyT] ([PropertyIdPK])
GO
ALTER TABLE [dbo].[PropertyT] CHECK CONSTRAINT [FK_PropertyT_PropertyT]
GO
ALTER TABLE [dbo].[PropertyT]  WITH CHECK ADD  CONSTRAINT [FK_PropertyT_PropertyTypeT] FOREIGN KEY([PropertyTypeIdFK])
REFERENCES [dbo].[PropertyTypeT] ([PropertyTypeIdPK])
GO
ALTER TABLE [dbo].[PropertyT] CHECK CONSTRAINT [FK_PropertyT_PropertyTypeT]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_PropertyT] FOREIGN KEY([PropertyIdFK])
REFERENCES [dbo].[PropertyT] ([PropertyIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_PropertyT]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_UserT] FOREIGN KEY([UserIdFK])
REFERENCES [dbo].[UserT] ([UserIdPK])
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_UserT]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddCommentsProfByProfIdUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddCommentsProf.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to add a new property comment (review) to
-- the BOG database.
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE               PROCEDURE [dbo].[spBogAddCommentsProfByProfIdUserId]
(
    @propId int = 0,
	@userId int = 0,
	@rating tinyint = 0,
	@mmyyVisit date = '',
	@comments nvarchar(500) =''
)
AS
BEGIN
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF ((@propId > 0)
		AND (@userId > 0)
		AND ((@rating >= 1) AND (@rating <=5)))
        BEGIN
            INSERT INTO CommentsT 
                VALUES (@userId, @propId, @rating, GETDATE(), @mmyyVisit, @comments); 
--            INSERT INTO CommentsT (UserIdFK, PropertyIdFK, Rating, MonthYearVisit, CommentIdPK)
--                VALUES (@propId, @userId, @rating, @mmyyVisit, @comments); 
	
            -- Return the unique key for this new record
            SET @result = SCOPE_IDENTITY();
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogAddPropProf]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddPropProf.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to add a new property to the BOG database.
-- 
-- Constraint:  Will only allow 1 property for the same address (i.e. no duplicates)
-- ==================================================================================
CREATE           PROCEDURE [dbo].[spBogAddPropProf]
(
    @propType smallint = 1,
	@propTitle nvarchar(50) = null,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode int = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0,
    @pic varbinary = 0,
	@imageName nvarchar(50) = null,
	@description nvarchar(500) = null
)
AS
BEGIN
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @propTitle = LTRIM(RTRIM(@propTitle));
    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    SET @imageName = LTRIM(RTRIM(@imageName));
    SET @description = LTRIM(RTRIM(@description));

    -- Make sure parameters are valid
    IF ((@propType >= 1 AND @propType <= 6)
		AND (@propTitle IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND ((ISNUMERIC(@zipcode) = 1) AND @zipcode > 0) 
        AND ((ISNUMERIC(@dailyPrice) = 1) AND @dailyPrice > 0)
        AND ((ISNUMERIC(@numBedrooms) = 1) AND @numBedrooms >= 0)
        AND ((ISNUMERIC(@numBathrooms) = 1) AND @numBathrooms >= 0)
        AND ((ISNUMERIC(@sqft) = 1) AND @sqft >= 0) 
        AND ((ISNUMERIC(@guestCnt) = 1) OR @guestCnt >= 0))
        BEGIN   
            IF NOT EXISTS(SELECT * FROM [PropertyT] p
                            WHERE p.Address = @address
                                AND p.City = @city
                                AND p.State = @state
                                AND p.Zipcode = @zipcode)
                BEGIN
                    INSERT INTO [PropertyT]
                        VALUES (@propType, @propTitle, @address, @city, 
								@state, @zipcode, @dailyPrice, 
                                @numBedrooms, @numBathrooms, @sqft, @guestCnt,
								@pic, @imageName, @description);

                    -- Return the unique key for this new record
                    SET @result = SCOPE_IDENTITY();
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogAddReservProf]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddReservProf.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to add a new reservation to the BOG database.
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE             PROCEDURE [dbo].[spBogAddReservProf]
(
    @propId int = 0,
	@userId int = 0,
	@checkinDate date = '',
	@checkoutDate date = '',
	@totalPayment money = '',
	@guestCnt smallint = 0
)
AS
BEGIN
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Check to ensure the dates are valid then check the other params

    IF ((@propId > 0)
		AND (@checkinDate IS NOT NULL)
		AND (@checkoutDate IS NOT NULL)
		AND (@userId > 0)
		AND (@totalPayment > 0)
		AND (@guestCnt >= 0))
        BEGIN
            INSERT INTO ReservationT
                VALUES (@propId, @userId, @checkinDate, @checkoutDate, @totalPayment, @guestCnt);
	
            -- Return the unique key for this new record
            SET @result = SCOPE_IDENTITY();
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogAddUserProf]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogAddUserProf.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to add a user profile to the BOG database.
--
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogAddUserProf]
(
	@roleType int,
    @email nvarchar(50),
    @password nvarchar(20),
    @firstName nvarchar(30),
    @lastName nvarchar(20),
    @address nvarchar(30),
    @city nvarchar(30),
    @state nchar(2),
    @zipcode numeric(5,0),
    @phoneNumber numeric(10,0),
    @ccNumber numeric(15,0) = 0,
    @ccExpDate date = NULL,
    @ccCvc numeric(3,0) = 0
)
AS
BEGIN
    DECLARE @result int = -1;

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SET @email = LTRIM(RTRIM(@email));
    SET @password = LTRIM(RTRIM(@password));
    SET @firstName = LTRIM(RTRIM(@firstName));
    SET @lastName = LTRIM(RTRIM(@lastName));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    
    -- Make sure parameters are valid
    IF ((@roleType > 0)
		AND (@email IS NOT NULL)
        AND (@password IS NOT NULL)
        AND (@firstName IS NOT NULL)
        AND (@lastName IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND (@zipcode >= 0) 
        AND (@phoneNumber >= 0))
        BEGIN   
            -- Update the user profile
            INSERT INTO [dbo].[UserT] 
                VALUES (@roleType
					,@email
                    ,@password
                    ,@firstName
                    ,@lastName
                    ,@address
                    ,@city
                    ,@state
                    ,@zipcode
                    ,@phoneNumber
                    ,@ccNumber
                    ,@ccExpDate
                    ,@ccCvc
                    );

            SET @result = SCOPE_IDENTITY();
        END
 
    -- Return the results
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogCheckEmailExists]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase to see if
--  the specified email already exists
--
-- =============================================
CREATE       PROCEDURE [dbo].[spBogCheckEmailExists]
(
    @email nvarchar(50) = null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [UserT] u
        where u.Email = @email;

    RETURN @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[spBogCheckReservExists]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================================================
-- Filename:    spBogCheckReservExists.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to see if a reservation already exists that
-- overlaps the given date range
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE               PROCEDURE [dbo].[spBogCheckReservExists]
(
    @propId int = 0,
	@checkinDate date = '',
	@checkoutDate date = ''
)
AS
BEGIN
    DECLARE @result int = -1;
	DECLARE @checkDates int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
	SELECT * FROM ReservationT r
	WHERE r.[PropertyIdFK] = @propId
	   AND 
 			((@checkinDate between r.CheckIn AND r.CheckOut)
			OR
			 (@checkoutDate between r.CheckIn AND r.CheckOut));
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDelPropByAddr]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogDelPropByAddr.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to delete a property from the BOG database by
--  specific address.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogDelPropByAddr]
(
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode numeric(5,0) = null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode <= 0))
        BEGIN   
            RETURN -1;
        END
        
    -- Check for duplicates and return null if found
    DELETE FROM [PropertyT] 
        WHERE [PropertyT].Address = @address
            AND [PropertyT].City = @city
            AND [PropertyT].state = @state
            AND [PropertyT].Zipcode = @zipcode;
    
    -- Return the transaction result
    RETURN @@ERROR;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDelPropById]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogDelPropById.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to delete a property from the BOG database by
--  property ID.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogDelPropById]
(
    @propId int
)
AS
BEGIN 
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRANSACTION
        -- Make sure parameters are valid
        IF (@propId > 0)
            BEGIN   
                -- Check for duplicates and return null if found
                DELETE FROM [ReservationT]
                    WHERE [PropertyIdFK] = @propId;

                DELETE FROM [CommentsT]
                    WHERE [PropertyIdFK] = @propId;

                DELETE FROM [PropertyT]
                    WHERE [PropertyIdPK] = @propId;
            
                SET @result = @@ERROR;
            END
    COMMIT;

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDoLogin]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase with login
--  credentials.  If found, user is logged in
--  otherwise user is not logged in
--
-- =============================================
CREATE       PROCEDURE [dbo].[spBogDoLogin]
(
    @email nvarchar(50) = null,
    @password nvarchar(20) = null
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [UserT] u
        where u.Email = @email 
            AND u.Password = @password

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetAllPropProf]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spBogGetAllPropProf] 
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.*, pt.PropertyTypeName FROM PropertyT p
        INNER JOIN PropertyTypeT pt
            ON p.[PropertyTypeIdFK] = pt.[PropertyTypeIdPK] ;
   
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetCommentsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
    WHERE c.[PropertyIdFK] = @propId
	ORDER BY c.DateSubmitted DESC;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropIdUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetCommentsByPropIdUserId]
(
	-- Add the parameters for the stored procedure here
    @propId int = 0,
    @userId int = 0
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
    WHERE c.[PropertyIdFK] = @propId
            AND c.[UserIdFK] = @userId
	ORDER BY c.DateSubmitted DESC;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetCommentsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
    WHERE c.[UserIdFK] = @userId
	ORDER BY c.DateSubmitted DESC;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetPropertyTypes]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetPropertyTypes] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT pt.[PropertyTypeIdPK], pt.PropertyTypeName FROM PropertyTypeT pt

    return @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetPropProfById]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE      PROCEDURE [dbo].[spBogGetPropProfById] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.*, pt.PropertyTypeName FROM PropertyT p
        INNER JOIN PropertyTypeT pt
            ON p.[PropertyTypeIdFK] = pt.[PropertyTypeIdPK] 
        WHERE p.[PropertyIdPK] = @propId;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByPropId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE              PROCEDURE [dbo].[spBogGetReservProfsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.PropertyIdPK, u.LastName, u.FirstName, p.Address, p.City, 
			p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE p.[PropertyIdPK] = @propId
	ORDER BY r.CheckIn;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE            PROCEDURE [dbo].[spBogGetReservProfsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.[UserIdPK], p.[PropertyIdPK], u.LastName, u.FirstName, p.Address, p.City, 
			p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE u.[UserIdPK] = @userId
	ORDER BY r.CheckIn;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserProfById]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetUserProfById] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UserT u
        WHERE u.[UserIdPK] = @userId;

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserProfByUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetUserProfByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UserT u
        WHERE u.[UserIdPK] = @userId;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserRoles]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetUserRoles] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT r.[RoleIdPK], r.RoleName FROM RolesT r;

    return @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogLogin]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase with login
--  credentials.  If found, user is logged in
--  otherwise user is not logged in
--
-- =============================================
CREATE     PROCEDURE [dbo].[spBogLogin]
(
    @email nvarchar(50) = null,
    @password nvarchar(20) = null
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [UserT] u
        where u.Email = @email 
            AND u.Password = @password

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogUpdtPropById]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogUpdtPropByAddr.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to update a property from the BOG database by
--  specific property address.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogUpdtPropById]
(
    @propId int = 0,
    @propertyType smallint = 1,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode numeric(5,0) = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@propId < 0)
        OR (@propertyType < 1 OR @propertyType > 3)
        OR (@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode <= 0) 
        OR (@dailyPrice < 0)
        OR (@numBedrooms < 0)
        OR (@numBathrooms < 0)
        OR (@sqft < 0) 
        OR (@guestCnt < 0))
        BEGIN   
            RETURN 1000;
        END

    -- Check for duplicates and return null if found
    UPDATE [dbo].[PropertyT]
       SET [PropertyTypeIdFK] = @propertyType
          ,[Address] = @address
          ,[City] = @city
          ,[State] = @state
          ,[Zipcode] = @zipcode
          ,[DailyPrice] = @dailyPrice
          ,[NumBedrooms] = @numBedrooms
          ,[NumBathrooms] = @numBathrooms
          ,[SqFt] = @sqft
          ,[GuestCnt] = @guestCnt
     WHERE 
        [PropertyT].[PropertyIdPK] = @propId;
    
    -- Error check the insert
    IF (@@ERROR <> 0)
        BEGIN
            RETURN 2700;
        END    
   
   RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogUpdtUserProfByUserId]    Script Date: 4/1/2019 9:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogUpdtUserProfByUserId.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to update a user profile from the BOG database 
--  by user id.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogUpdtUserProfByUserId]
(
    @userId int,
	@roleType int,
    @email nvarchar(50),
    @password nvarchar(20),
    @firstName nvarchar(30),
    @lastName nvarchar(20),
    @address nvarchar(30),
    @city nvarchar(30),
    @state nchar(2),
    @zipcode numeric(5,0),
    @phoneNumber numeric(10,0),
    @ccNumber numeric(15,0) = 0,
    @ccExpDate date = '01-01-1999',
    @ccCvc numeric(3,0) = 0
)
AS
BEGIN
    DECLARE @result int = -1;

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SET @email = LTRIM(RTRIM(@email));
    SET @password = LTRIM(RTRIM(@password));
    SET @firstName = LTRIM(RTRIM(@firstName));
    SET @lastName = LTRIM(RTRIM(@lastName));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    
    -- Make sure parameters are valid
    IF (((@userId IS NOT NULL) AND (@userId > 0))
		AND (@roleType > 0)
        AND (@password IS NOT NULL)
        AND (@firstName IS NOT NULL)
        AND (@lastName IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND (@zipcode > 0) 
        AND (@phoneNumber > 0)
        AND (@ccNumber >= 0)
        AND (@ccExpDate IS NOT NULL)
        AND (@ccCvc >= 0))
        BEGIN   
			-- Update the user profile
			UPDATE [dbo].[UserT] 
				SET [RoleIdFK] = @roleType
					,[Email] = @email
					,[Password] = @password
					,[FirstName] = @firstName
					,[LastName] = @lastName
					,[Address] = @address
					,[City] = @city
					,[State] = @state
					,[Zipcode] = @zipcode
					,[PhoneNumber] = @phoneNumber
					,[CCNumber] = @ccNumber
					,[CCExpDate] = @ccExpDate
					,[CCCvc] = @ccCvc
				WHERE 
				[UserT].[UserIdPK] = @userId;

			-- save the result
			SET @result = @@ERROR;
		END

    -- Return the result of the operation
    RETURN @result;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - 5 Stars (Lowest to Highest)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CommentsT', @level2type=N'COLUMN',@level2name=N'Rating'
GO
USE [master]
GO
