USE [master]
GO
/****** Object:  Database [Team115DB]    Script Date: 3/15/2019 11:01:57 AM ******/
CREATE DATABASE [Team115DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Team115DB', FILENAME = N'C:\mount\SQLDATA1\MSSQL\MSSQL13.CISWEB\MSSQL\DATA\Team115DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Team115DB_log', FILENAME = N'C:\Mount\SQLLogs1\MSSQL\MSSQL13.CISWEB\MSSQL\Data\Team115DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Team115DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Team115DB]
GO
USE [Team115DB]
GO
/****** Object:  User [exposed]    Script Date: 3/15/2019 11:01:57 AM ******/
CREATE USER [exposed] FOR LOGIN [exposed] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COLOSTATE\rousan]    Script Date: 3/15/2019 11:01:57 AM ******/
CREATE USER [COLOSTATE\rousan] FOR LOGIN [COLOSTATE\rousan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COLOSTATE\okahwaji]    Script Date: 3/15/2019 11:01:57 AM ******/
CREATE USER [COLOSTATE\okahwaji] FOR LOGIN [COLOSTATE\okahwaji] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COLOSTATE\milliken]    Script Date: 3/15/2019 11:01:57 AM ******/
CREATE USER [COLOSTATE\milliken] FOR LOGIN [COLOSTATE\milliken] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [exposed]
GO
ALTER ROLE [db_owner] ADD MEMBER [COLOSTATE\rousan]
GO
ALTER ROLE [db_owner] ADD MEMBER [COLOSTATE\okahwaji]
GO
ALTER ROLE [db_owner] ADD MEMBER [COLOSTATE\milliken]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBogCheckReservDates]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    fnBogCheckReservDates.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used if a property has already been reserved for 
--              the specified date rate.  If no rows are returned then the dates
--              are available.
--
-- Constraint:  both dates must be greater than current date, checkout date must be
--              at least 1 day after checkin date.
-- ==================================================================================
CREATE   FUNCTION [dbo].[fnBogCheckReservDates]
(
    @propertyId smallint = 0,
    @checkinDate date,
    @checkoutDate date
)
RETURNS INT
BEGIN
    DECLARE @result int = -1;
    DECLARE @currDate date = GETDATE();

    -- Make sure parameters are valid
    IF (@propertyId > 0
        AND @checkinDate >= @currDate
        AND @checkoutDate > @checkinDate)
        BEGIN   
            IF NOT EXISTS (SELECT 1 FROM ReservationT r
                                WHERE [PropertyIdFK] = @propertyId
                                    AND @checkinDate >= r.CheckIn
                                    AND @checkoutDate <= r.CheckOut)
                BEGIN
                    -- No reservations exist for this property and date range
                    SET @result = 0;   
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnBogVerifyEmail]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description: verifies pre-existence of the
--  specified email address. To be used for
--  registering a new user
--
-- =============================================
CREATE     FUNCTION [dbo].[fnBogVerifyEmail]
(
    @email nvarchar(50) = null
)
RETURNS int
WITH EXECUTE AS CALLER
AS
BEGIN
    DECLARE @result int = -1;

    --PRINT N'VerifyEmail: ' + @email;

	-- Add the T-SQL statements to compute the return value here
	IF EXISTS (SELECT * from [UserT] u
                    where u.Email = @email) 
    BEGIN 
        SET @result = 1;
    END;

	-- Return the result of the function
	RETURN @result;

END
GO
/****** Object:  Table [dbo].[CommentsT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentsT](
	[CommentIdPK] [int] IDENTITY(1,1) NOT NULL,
	[UserIdFK] [int] NOT NULL,
	[PropertyIdFK] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[DateSubmitted] [date] NOT NULL,
	[MonthYearVisit] [date] NULL,
	[Comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_CommentsT] PRIMARY KEY CLUSTERED 
(
	[CommentIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyT](
	[PropertyIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeIdFK] [int] NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [int] NOT NULL,
	[DailyPrice] [smallmoney] NOT NULL,
	[NumBedrooms] [smallint] NOT NULL,
	[NumBathrooms] [smallint] NOT NULL,
	[SqFt] [smallint] NULL,
	[GuestCnt] [smallint] NULL,
	[Pic] [image] NULL,
 CONSTRAINT [PK_PropertyT] PRIMARY KEY CLUSTERED 
(
	[PropertyIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypeT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypeT](
	[PropertyTypeIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [nchar](10) NULL,
 CONSTRAINT [PK_PropertyTypeT] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationT](
	[ReservationIdPK] [int] IDENTITY(1,1) NOT NULL,
	[PropertyIdFK] [int] NOT NULL,
	[UserIdFK] [int] NOT NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[TotalPayment] [money] NOT NULL,
	[GuestCnt] [smallint] NULL,
 CONSTRAINT [PK_ReservationID] PRIMARY KEY CLUSTERED 
(
	[ReservationIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesT](
	[RoleIdPK] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_RolesT] PRIMARY KEY CLUSTERED 
(
	[RoleIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserT]    Script Date: 3/15/2019 11:01:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserT](
	[UserIdPK] [int] IDENTITY(1,1) NOT NULL,
	[RoleIdFK] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zipcode] [int] NOT NULL,
	[PhoneNumber] [bigint] NOT NULL,
	[CCNumber] [bigint] NULL,
	[CCExpDate] [date] NULL,
	[CCCvc] [smallint] NULL,
 CONSTRAINT [PK_UserID] PRIMARY KEY CLUSTERED 
(
	[UserIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UniqueEmailIdx] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentsT] ADD  CONSTRAINT [DF_CommentsT_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[CommentsT] ADD  CONSTRAINT [DF_CommentsT_DateSubmitted]  DEFAULT (getdate()) FOR [DateSubmitted]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_DailyPrice]  DEFAULT ((0)) FOR [DailyPrice]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_NumBedrooms]  DEFAULT ((0)) FOR [NumBedrooms]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_NumBathrooms]  DEFAULT ((0)) FOR [NumBathrooms]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_SqFt]  DEFAULT ((0)) FOR [SqFt]
GO
ALTER TABLE [dbo].[PropertyT] ADD  CONSTRAINT [DF_PropertyT_GuestCnt]  DEFAULT ((0)) FOR [GuestCnt]
GO
ALTER TABLE [dbo].[ReservationT] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckIn]  DEFAULT (getdate()) FOR [CheckIn]
GO
ALTER TABLE [dbo].[ReservationT] ADD  CONSTRAINT [DF_Reservation.Tbl_CheckOut]  DEFAULT (getdate()+(1)) FOR [CheckOut]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_User.Account_User.State]  DEFAULT (N'UPPER') FOR [State]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCNumber]  DEFAULT ((-1)) FOR [CCNumber]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCExpDate]  DEFAULT ('') FOR [CCExpDate]
GO
ALTER TABLE [dbo].[UserT] ADD  CONSTRAINT [DF_UserT_CCCvc]  DEFAULT ((-1)) FOR [CCCvc]
GO
ALTER TABLE [dbo].[CommentsT]  WITH CHECK ADD  CONSTRAINT [FK_CommentsT_PropertyT] FOREIGN KEY([PropertyIdFK])
REFERENCES [dbo].[PropertyT] ([PropertyIdPK])
GO
ALTER TABLE [dbo].[CommentsT] CHECK CONSTRAINT [FK_CommentsT_PropertyT]
GO
ALTER TABLE [dbo].[CommentsT]  WITH CHECK ADD  CONSTRAINT [FK_CommentsT_UserT] FOREIGN KEY([UserIdFK])
REFERENCES [dbo].[UserT] ([UserIdPK])
GO
ALTER TABLE [dbo].[CommentsT] CHECK CONSTRAINT [FK_CommentsT_UserT]
GO
ALTER TABLE [dbo].[PropertyT]  WITH CHECK ADD  CONSTRAINT [FK_PropertyT_PropertyTypeT] FOREIGN KEY([PropertyTypeIdFK])
REFERENCES [dbo].[PropertyTypeT] ([PropertyTypeIdPK])
GO
ALTER TABLE [dbo].[PropertyT] CHECK CONSTRAINT [FK_PropertyT_PropertyTypeT]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_PropertyT] FOREIGN KEY([PropertyIdFK])
REFERENCES [dbo].[PropertyT] ([PropertyIdPK])
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_PropertyT]
GO
ALTER TABLE [dbo].[ReservationT]  WITH CHECK ADD  CONSTRAINT [FK_ReservationT_UserT] FOREIGN KEY([UserIdFK])
REFERENCES [dbo].[UserT] ([UserIdPK])
GO
ALTER TABLE [dbo].[ReservationT] CHECK CONSTRAINT [FK_ReservationT_UserT]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddPropProf]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddPropProf.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to add a new property to the BOG database.
-- 
-- Constraint:  Will only allow 1 property for the same address (i.e. no duplicates)
-- ==================================================================================
CREATE           PROCEDURE [dbo].[spBogAddPropProf]
(
    @propertyType smallint = 1,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode int = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0,
    @pic image = null
)
AS
BEGIN
    DECLARE @result int = -1;
	DECLARE @maxPropTypes int;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

	SET @maxPropTypes = (SELECT COUNT(*) FROM PropertyT);

    -- Make sure parameters are valid
    IF ((@propertyType >= 1 AND @propertyType <= @maxPropTypes)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND ((ISNUMERIC(@zipcode) = 1) AND @zipcode > 0) 
        AND ((ISNUMERIC(@dailyPrice) = 1) AND @dailyPrice > 0)
        AND ((ISNUMERIC(@numBedrooms) = 1) AND @numBedrooms >= 0)
        AND ((ISNUMERIC(@numBathrooms) = 1) AND @numBathrooms >= 0)
        AND ((ISNUMERIC(@sqft) = 1) AND @sqft >= 0) 
        AND ((ISNUMERIC(@guestCnt) = 1) OR @guestCnt >= 0))
        BEGIN   
            IF NOT EXISTS(SELECT * FROM [PropertyT] p
                            WHERE p.Address = @address
                                AND p.City = @city
                                AND p.State = @state
                                AND p.Zipcode = @zipcode)
                BEGIN
                    INSERT INTO [PropertyT]
                        VALUES (@propertyType, @address, @city, @state, @zipcode, @dailyPrice, 
                                @numBedrooms, @numBathrooms, @sqft, @guestCnt, @pic);

                    -- Return the unique key for this new record
                    SET @result = SCOPE_IDENTITY();
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogAddReservProf]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddReservProf.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to add a new reservation to the BOG database.
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE             PROCEDURE [dbo].[spBogAddReservProf]
(
    @propId int = 0,
	@userId int = 0,
	@checkinDate date = '',
	@checkoutDate date = '',
	@totalPayment money = '',
	@guestCnt smallint = 0
)
AS
BEGIN
    DECLARE @result int = -1;
	DECLARE @checkDates int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Check to ensure the dates are valid then check the other params
	EXEC @checkDates = [dbo].[fnBogCheckReservDates] @propId, @checkinDate, @checkoutDate;
	
    IF ((@propId > 0)
		AND (@userId > 0)
		AND (@totalPayment > 0)
		AND (@guestCnt >= 0)
		AND (@checkDates  <> -1))
        BEGIN
            INSERT INTO ReservationT
                VALUES (@propId, @userId, @checkinDate, @checkoutDate, @totalPayment, @guestCnt);
	
            -- Return the unique key for this new record
            SET @result = SCOPE_IDENTITY();
        END

	IF (@checkDates = -1)
		BEGIN
			SET @result = -2;
		END

    -- Return the result of this operation
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogAddUserProf]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogAddUserProf.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to add a user profile to the BOG database.
--
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogAddUserProf]
(
	@roleType int,
    @email nvarchar(50),
    @password nvarchar(20),
    @firstName nvarchar(30),
    @lastName nvarchar(20),
    @address nvarchar(30),
    @city nvarchar(30),
    @state nchar(2),
    @zipcode numeric(5,0),
    @phoneNumber numeric(10,0),
    @ccNumber numeric(15,0) = 0,
    @ccExpDate date = NULL,
    @ccCvc numeric(3,0) = 0
)
AS
BEGIN
    DECLARE @result int = -1;

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SET @email = LTRIM(RTRIM(@email));
    SET @password = LTRIM(RTRIM(@password));
    SET @firstName = LTRIM(RTRIM(@firstName));
    SET @lastName = LTRIM(RTRIM(@lastName));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    
    -- Make sure parameters are valid
    IF ((@roleType > 0)
		AND (@email IS NOT NULL)
        AND (@password IS NOT NULL)
        AND (@firstName IS NOT NULL)
        AND (@lastName IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND (@zipcode >= 0) 
        AND (@phoneNumber >= 0))
        BEGIN   
            -- Update the user profile
            INSERT INTO [dbo].[UserT] 
                VALUES (@roleType
					,@email
                    ,@password
                    ,@firstName
                    ,@lastName
                    ,@address
                    ,@city
                    ,@state
                    ,@zipcode
                    ,@phoneNumber
                    ,@ccNumber
                    ,@ccExpDate
                    ,@ccCvc
                    );

            SET @result = SCOPE_IDENTITY();
        END
 
    -- Return the results
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDelPropByAddr]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogDelPropByAddr.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to delete a property from the BOG database by
--  specific address.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogDelPropByAddr]
(
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode numeric(5,0) = null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode <= 0))
        BEGIN   
            RETURN -1;
        END
        
    -- Check for duplicates and return null if found
    DELETE FROM [PropertyT] 
        WHERE [PropertyT].Address = @address
            AND [PropertyT].City = @city
            AND [PropertyT].state = @state
            AND [PropertyT].Zipcode = @zipcode;
    
    -- Return the transaction result
    RETURN @@ERROR;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDelPropById]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogDelPropById.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to delete a property from the BOG database by
--  property ID.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogDelPropById]
(
    @propId int
)
AS
BEGIN 
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRANSACTION
        -- Make sure parameters are valid
        IF (@propId > 0)
            BEGIN   
                -- Check for duplicates and return null if found
                DELETE FROM [ReservationT]
                    WHERE [PropertyIdFK] = @propId;

                DELETE FROM [CommentsT]
                    WHERE [PropertyIdFK] = @propId;

                DELETE FROM [PropertyT]
                    WHERE [PropertyIdPK] = @propId;
            
                SET @result = @@ERROR;
            END
    COMMIT;

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogDoLogin]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase with login
--  credentials.  If found, user is logged in
--  otherwise user is not logged in
--
-- =============================================
CREATE       PROCEDURE [dbo].[spBogDoLogin]
(
    @email nvarchar(50) = null,
    @password nvarchar(20) = null
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [UserT] u
        where u.Email = @email 
            AND u.Password = @password

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetAllPropProf]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spBogGetAllPropProf] 
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.*, pt.PropertyTypeName FROM PropertyT p
        INNER JOIN PropertyTypeT pt
            ON p.[PropertyTypeIdFK] = pt.[PropertyTypeIdPK] ;
   
    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetCommentsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
        WHERE c.[PropertyIdFK] = @propId;

    IF (@@ROWCOUNT = 0)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropIdUserId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetCommentsByPropIdUserId]
(
	-- Add the parameters for the stored procedure here
    @propId int = 0,
    @userId int = 0
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
        WHERE c.[PropertyIdFK] = @propId
            AND c.[UserIdFK] = @userId;

    IF (@@ROWCOUNT = 0)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByUserId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetCommentsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
        WHERE c.[UserIdFK] = @userId;

    IF (@@ROWCOUNT = 0)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetPropertyTypes]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetPropertyTypes] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT pt.[PropertyTypeIdPK], pt.PropertyTypeName FROM PropertyTypeT pt

    return @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetPropProfById]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE      PROCEDURE [dbo].[spBogGetPropProfById] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.*, pt.PropertyTypeName FROM PropertyT p
        INNER JOIN PropertyTypeT pt
            ON p.[PropertyTypeIdFK] = pt.[PropertyTypeIdPK] 
        WHERE p.[PropertyIdPK] = @propId;

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByPropId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE            PROCEDURE [dbo].[spBogGetReservProfsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.LastName, u.FirstName, p.Address, p.City, p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE p.[PropertyIdPK] = @propId;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByUserId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE          PROCEDURE [dbo].[spBogGetReservProfsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.[UserIdPK], p.[PropertyIdPK], u.LastName, u.FirstName, p.Address, p.City, 
			p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE u.[UserIdPK] = @userId;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserProfById]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spBogGetUserProfById] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UserT u
        WHERE u.[UserIdPK] = @userId;

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserProfByUserId]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetUserProfByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UserT u
        WHERE u.[UserIdPK] = @userId;

    RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserRoles]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spBogGetUserRoles] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT r.[RoleIdPK], r.RoleName FROM RolesT r;

    return @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogLogin]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase with login
--  credentials.  If found, user is logged in
--  otherwise user is not logged in
--
-- =============================================
CREATE     PROCEDURE [dbo].[spBogLogin]
(
    @email nvarchar(50) = null,
    @password nvarchar(20) = null
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [UserT] u
        where u.Email = @email 
            AND u.Password = @password

    IF (@@ROWCOUNT != 1)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogUpdtPropById]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogUpdtPropByAddr.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to update a property from the BOG database by
--  specific property address.
-- 
-- ==================================================================================
CREATE     PROCEDURE [dbo].[spBogUpdtPropById]
(
    @propId int = 0,
    @propertyType smallint = 1,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode numeric(5,0) = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@propId < 0)
        OR (@propertyType < 1 OR @propertyType > 3)
        OR (@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode <= 0) 
        OR (@dailyPrice < 0)
        OR (@numBedrooms < 0)
        OR (@numBathrooms < 0)
        OR (@sqft < 0) 
        OR (@guestCnt < 0))
        BEGIN   
            RETURN 1000;
        END

    -- Check for duplicates and return null if found
    UPDATE [dbo].[PropertyT]
       SET [PropertyTypeIdFK] = @propertyType
          ,[Address] = @address
          ,[City] = @city
          ,[State] = @state
          ,[Zipcode] = @zipcode
          ,[DailyPrice] = @dailyPrice
          ,[NumBedrooms] = @numBedrooms
          ,[NumBathrooms] = @numBathrooms
          ,[SqFt] = @sqft
          ,[GuestCnt] = @guestCnt
     WHERE 
        [PropertyT].[PropertyIdPK] = @propId;
    
    -- Error check the insert
    IF (@@ERROR <> 0)
        BEGIN
            RETURN 2700;
        END    
   
   RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[spBogUpdtUserProfById]    Script Date: 3/15/2019 11:01:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogUpdtProfile.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to update a user profile from the BOG database 
--  by user id.
-- 
-- ==================================================================================
CREATE   PROCEDURE [dbo].[spBogUpdtUserProfById]
(
    @userId int,
    @email nvarchar(50),
    @password nvarchar(20),
    @firstName nvarchar(30),
    @lastName nvarchar(20),
    @address nvarchar(30),
    @city nvarchar(30),
    @state nchar(2),
    @zipcode numeric(5,0),
    @phoneNumber numeric(10,0),
    @ccNumber numeric(15,0),
    @ccExpDate date,
    @ccCvc numeric(3,0)
)
AS
BEGIN
    DECLARE @result int = 0;

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SET @email = LTRIM(RTRIM(@email));
    SET @password = LTRIM(RTRIM(@password));
    SET @firstName = LTRIM(RTRIM(@firstName));
    SET @lastName = LTRIM(RTRIM(@lastName));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    
    -- Make sure parameters are valid
    IF (((@userId IS NULL) OR (@userId <= 0))
        OR (@password IS NULL)
        OR (@firstName IS NULL)
        OR (@lastName IS NULL)
        OR (@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode < 0) 
        OR (@phoneNumber < 0)
        OR (@ccNumber < 0)
        OR (@ccExpDate IS NULL)
        OR (@ccCvc < 0))
        BEGIN   
            RETURN -1;
        END

    -- Update the user profile
    UPDATE [dbo].[UserT] 
        SET [Email] = @email
            ,[Password] = @password
            ,[FirstName] = @firstName
            ,[LastName] = @lastName
            ,[Address] = @address
            ,[City] = @city
            ,[State] = @state
            ,[Zipcode] = @zipcode
            ,[PhoneNumber] = @phoneNumber
            ,[CCNumber] = @ccNumber
            ,[CCExpDate] = @ccExpDate
            ,[CCCvc] = @ccCvc
        WHERE 
        [UserT].[UserIdPK] = @userId;

    -- Error check the insert
    IF (@@ERROR <> 0)
        BEGIN
            RETURN -1;
        END    
   
    RETURN 0;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - 5 Stars (Lowest to Highest)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CommentsT', @level2type=N'COLUMN',@level2name=N'Rating'
GO
USE [master]
GO
