USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByUserId]    Script Date: 3/12/2019 9:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER        PROCEDURE [dbo].[spBogGetReservProfsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.[UserIdPK], p.[PropertyIdPK], u.LastName, u.FirstName, p.Address, p.City, 
			p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE u.[UserIdPK] = @userId;

    RETURN @@ROWCOUNT;
END
