USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddPropProf]    Script Date: 3/12/2019 9:31:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddPropProf.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to add a new property to the BOG database.
-- 
-- Constraint:  Will only allow 1 property for the same address (i.e. no duplicates)
-- ==================================================================================
CREATE OR ALTER         PROCEDURE [dbo].[spBogAddPropProf]
(
    @propType smallint = 1,
	@propTitle nvarchar(50) = null,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode int = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0,
    @pic varbinary = 0
)
AS
BEGIN
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @propTitle = LTRIM(RTRIM(@propTitle));
    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@propType >= 1 AND @propType <= 6)
		AND (@propTitle IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND ((ISNUMERIC(@zipcode) = 1) AND @zipcode > 0) 
        AND ((ISNUMERIC(@dailyPrice) = 1) AND @dailyPrice > 0)
        AND ((ISNUMERIC(@numBedrooms) = 1) AND @numBedrooms >= 0)
        AND ((ISNUMERIC(@numBathrooms) = 1) AND @numBathrooms >= 0)
        AND ((ISNUMERIC(@sqft) = 1) AND @sqft >= 0) 
        AND ((ISNUMERIC(@guestCnt) = 1) OR @guestCnt >= 0))
        BEGIN   
            IF NOT EXISTS(SELECT * FROM [PropertyT] p
                            WHERE p.Address = @address
                                AND p.City = @city
                                AND p.State = @state
                                AND p.Zipcode = @zipcode)
                BEGIN
                    INSERT INTO [PropertyT]
                        VALUES (@propType, @propTitle, @address, @city, 
								@state, @zipcode, @dailyPrice, 
                                @numBedrooms, @numBathrooms, @sqft, @guestCnt, @pic);

                    -- Return the unique key for this new record
                    SET @result = SCOPE_IDENTITY();
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
