USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserProfByUserId]    Script Date: 3/12/2019 10:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER       PROCEDURE [dbo].[spBogGetUserProfByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UserT u
        WHERE u.[UserIdPK] = @userId;

    RETURN @@ROWCOUNT;
END
