USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetReservProfsByPropId]    Script Date: 3/12/2019 9:57:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER          PROCEDURE [dbo].[spBogGetReservProfsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT u.LastName, u.FirstName, p.Address, p.City, p.State, p.Zipcode, r.CheckIn, r.CheckOut, r.TotalPayment, r.GuestCnt
	FROM ReservationT r
        INNER JOIN PropertyT p
            ON p.[PropertyIdPK] = r.[PropertyIdFK] 
		INNER JOIN UserT u
			ON r.[UserIdFK] = u.[UserIdPK] 
    WHERE p.[PropertyIdPK] = @propId;

    RETURN @@ROWCOUNT;
END
