USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogDelPropByAddr]    Script Date: 3/12/2019 9:33:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogDelPropByAddr.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to delete a property from the BOG database by
--  specific address.
-- 
-- ==================================================================================
CREATE OR ALTER   PROCEDURE [dbo].[spBogDelPropByAddr]
(
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode numeric(5,0) = null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@address IS NULL)
        OR (@city IS NULL) 
        OR (@state IS NULL)
        OR (@zipcode <= 0))
        BEGIN   
            RETURN -1;
        END
        
    -- Check for duplicates and return null if found
    DELETE FROM [PropertyT] 
        WHERE [PropertyT].Address = @address
            AND [PropertyT].City = @city
            AND [PropertyT].state = @state
            AND [PropertyT].Zipcode = @zipcode;
    
    -- Return the transaction result
    RETURN @@ERROR;
END
