USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddReservProf]    Script Date: 3/12/2019 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddReservProf.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to add a new reservation to the BOG database.
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE OR ALTER           PROCEDURE [dbo].[spBogAddReservProf]
(
    @propId int = 0,
	@userId int = 0,
	@checkinDate date = '',
	@checkoutDate date = '',
	@totalPayment money = '',
	@guestCnt smallint = 0
)
AS
BEGIN
    DECLARE @result int = -1;
	DECLARE @checkDates int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Check to ensure the dates are valid then check the other params
	EXEC @checkDates = [dbo].[fnBogCheckReservDates] @propId, @checkinDate, @checkoutDate;
	
    IF ((@propId > 0)
		AND (@userId > 0)
		AND (@totalPayment > 0)
		AND (@guestCnt >= 0)
		AND (@checkDates  <> -1))
        BEGIN
            INSERT INTO ReservationT
                VALUES (@propId, @userId, @checkinDate, @checkoutDate, @totalPayment, @guestCnt);
	
            -- Return the unique key for this new record
            SET @result = SCOPE_IDENTITY();
        END

	IF (@checkDates = -1)
		BEGIN
			SET @result = -2;
		END

    -- Return the result of this operation
    RETURN @result;
END
