USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogUpdtUserProfByUserId]    Script Date: 3/16/2019 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================
-- Filename:    spBogUpdtUserProfByUserId.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used to update a user profile from the BOG database 
--  by user id.
-- 
-- ==================================================================================
CREATE OR ALTER   PROCEDURE [dbo].[spBogUpdtUserProfByUserId]
(
    @userId int,
	@roleType int,
    @email nvarchar(50),
    @password nvarchar(20),
    @firstName nvarchar(30),
    @lastName nvarchar(20),
    @address nvarchar(30),
    @city nvarchar(30),
    @state nchar(2),
    @zipcode numeric(5,0),
    @phoneNumber numeric(10,0),
    @ccNumber numeric(15,0) = 0,
    @ccExpDate date = '01-01-1999',
    @ccCvc numeric(3,0) = 0
)
AS
BEGIN
    DECLARE @result int = -1;

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SET @email = LTRIM(RTRIM(@email));
    SET @password = LTRIM(RTRIM(@password));
    SET @firstName = LTRIM(RTRIM(@firstName));
    SET @lastName = LTRIM(RTRIM(@lastName));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));
    
    -- Make sure parameters are valid
    IF (((@userId IS NOT NULL) AND (@userId > 0))
		AND (@roleType > 0)
        AND (@password IS NOT NULL)
        AND (@firstName IS NOT NULL)
        AND (@lastName IS NOT NULL)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND (@zipcode > 0) 
        AND (@phoneNumber > 0)
        AND (@ccNumber >= 0)
        AND (@ccExpDate IS NOT NULL)
        AND (@ccCvc >= 0))
        BEGIN   
			-- Update the user profile
			UPDATE [dbo].[UserT] 
				SET [RoleIdFK] = @roleType
					,[Email] = @email
					,[Password] = @password
					,[FirstName] = @firstName
					,[LastName] = @lastName
					,[Address] = @address
					,[City] = @city
					,[State] = @state
					,[Zipcode] = @zipcode
					,[PhoneNumber] = @phoneNumber
					,[CCNumber] = @ccNumber
					,[CCExpDate] = @ccExpDate
					,[CCCvc] = @ccCvc
				WHERE 
				[UserT].[UserIdPK] = @userId;

			-- save the result
			SET @result = @@ERROR;
		END

    -- Return the result of the operation
    RETURN @result;
END
