USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropIdUserId]    Script Date: 3/12/2019 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER     PROCEDURE [dbo].[spBogGetCommentsByPropIdUserId]
(
	-- Add the parameters for the stored procedure here
    @propId int = 0,
    @userId int = 0
)
AS
BEGIN
    DECLARE @result int = 0;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
        WHERE c.[PropertyIdFK] = @propId
            AND c.[UserIdFK] = @userId;

    IF (@@ROWCOUNT = 0)
        BEGIN
            SET @result = -1;
        END

    RETURN @result;
END
