/*
Project Test Template
Be Our Guest(BOG) Vacation Rentals

Team: Kiana Vigil, Valerie Duran, Robert Palumbo
Date: 2/25/2019

Filename: HomeStyleSheet.css
*/

html {
    background-color: #383b43;
    height: 100%;
    background-size: cover;
}

body {
    background: rgba(144, 144, 144, 0.25);
}



body, input, select, textarea {
    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.65em;
}

a {
    color: #383b43;
    text-decoration: none;
}

    a:active, a:hover {
        text-decoration: double;
        color:deepskyblue; 
    }


/* Header */

#header {
    background-color: #383b43;
    color: deepskyblue;
    cursor: default;
    font-size: 1.4em;
    height: 6em;
    line-height: 6em;
    width: 100%;
}

#header h2{
    position: center;
}
    #header h1 {
        color: deepskyblue;
        height: inherit;
        left: 3em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
    }

        #header h1 a {
            font-size: 1.25em;
        }

    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 3em;
        vertical-align: middle;
    }

        #header nav > ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

            #header nav > ul > li {
                border-radius: 4px;
                display: inline-block;
                margin-left: 2em;
                padding-left: 0;
            }

                #header nav > ul > li a {
                   
                    transition: color 0.2s ease-in-out;
                    color: #ffffff;
                    display: inline-block;
                    
                }

                    #header nav > ul > li a:active, #header nav > ul > li a:hover {
                        color: deepskyblue;
                    }

                #header nav > ul > li:first-child {
                    margin-left: 0;
                }



    /* Banner */

    #banner {
        background-image: url(../images/dark_tint.png), url(../images/BOGhouseBanner.jpg);
        background-position: center center;
        background-size: cover;
        color: deepskyblue;
        padding: 14em 0em 14em;
        text-align: center;
    }



        #banner h2 {
            color: deepskyblue;
            font-size: 4em;
            line-height: 1.25em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        #banner p {
            font-size: 1.5em;
            margin-bottom: 1.75em;
        }


/* Style the search field */
form.example input[type=text] {
    width: 20%;
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    width: 3%;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

    /* Banner */

    #secondbanner {
        background-color: lightgrey;
        background-size: cover;
        color: deeppink;
        padding: 5em 0em 5em;
        text-align: left;
    }


        #secondbanner h2 {
            color: white;
            text-align: center;
            /*padding: 0px;*/
            font-size: 2em;
            text-shadow: -1px -1px 0 #0b7dda, 1px -1px 0 #0b7dda, -1px 1px 0 #0b7dda, 1px 1px 0 #0b7dda;
            line-height: 1em;
            margin: 0 0 1em 0;
            padding-top: 100px;
            padding: 0.1px;
        }

        #secondbanner h3 {
            color: white;
            font-size: 1.5em;
            line-height: 1em;
            margin: 0 0 0.5em 0;
            padding: 10px;
            text-shadow: -1px -1px 0 #0b7dda, 1px -1px 0 #0b7dda, -1px 1px 0 #0b7dda, 1px 1px 0 #0b7dda;
        }

        #secondbanner p {
            color: white;
            font-size: 1.2em;
            line-height: 1em;
            margin: 0 0 0.5em 0;
            padding: 10px;
            text-shadow: -1px -1px 0 #0b7dda, 1px -1px 0 #0b7dda, -1px 1px 0 #0b7dda, 1px 1px 0 #0b7dda;
        }

    * {
        box-sizing: border-box;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 200px; /* Should be removed. Only for demonstration */
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        border: solid;
    }



    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }



    /*Footer Styles*/

footer {
    /*border: 1px solid black;*/
    background-color: dimgrey;
    clear: left;
    margin-top: 20px;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    position: static;
}

        footer p {
            color: dodgerblue;
            font-style: normal;
            font-size: 1em;
            text-align: center;
        }
   

