
html {
    height: 100%;
    background-size: cover;
}


body, input, select, textarea {
    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.65em;
}

a {
    color: #383b43;
    text-decoration: none;
}

    a:active, a:hover {
        text-decoration: double;
        color: deepskyblue;
    }

/* Header */

#header {
    background-color: #383b43;
    color: #ffffff;
    cursor: default;
    font-size: 1.4em;
    height: 6em;
    line-height: 6em;
    width: 100%;
}

    #header h2 {
        position: center;
    }

    #header h1 {
        color: #ffffff;
        height: inherit;
        left: 3em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
    }

        #header h1 a {
            font-size: 1.25em;
        }

    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 3em;
        vertical-align: middle;
    }

        #header nav > ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

            #header nav > ul > li {
                border-radius: 4px;
                display: inline-block;
                margin-left: 2em;
                padding-left: 0;
            }

                #header nav > ul > li a {
                    transition: color 0.2s ease-in-out;
                    color: #ffffff;
                    display: inline-block;
                }

                    #header nav > ul > li a:active, #header nav > ul > li a:hover {
                        color: deepskyblue;
                    }

                #header nav > ul > li:first-child {
                    margin-left: 0;
                }

#banner1 {
    background-image: url(../images/dark_tint.png);
    background-position: center center;
    color: #ffffff;
    padding: 1em 0em 1em;
    text-align: center;
}



    #banner1 h2 {
        color: #ffffff;
        font-size: 4em;
        line-height: 1.25em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }





/* Banner */

#banner {
    background-image: url(../images/dark_tint.png), url(../images/beach.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 14em 0em 14em;
    text-align: center;
}



    #banner h2 {
        color: #ffffff;
        font-size: 4em;
        line-height: 1.25em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.5em;
        margin-bottom: 1.75em;
    }


h1 {
    font-size: 35px;
    position: center;
    padding-left: 150px;
}

#banner form {
    border: 10px solid #808080;
    border-spacing: inherit;
    position: center;
    z-index: 1;
    /*background-color: whitesmoke;*/
    background-color: lightgray;
    opacity: 0.8;
    max-width: 500px;
    margin: 15px auto 50px;
    padding: 5px;
    text-align: left;
}

#banner label {
    clear: left;
    display: block;
    font-size: 1.5em;
    float: left;
    padding-left: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    width: 30%;
}

#banner input {
    display: block;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    
}

    #banner input[placeholder] {
        color: lightgrey;
        opacity: unset;
    }


#banner button {
    /*background-color: deepskyblue;
    color: white;
    padding: 5px 30px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    position: center;*/
    background-color: deepskyblue;
    color: white;
    padding: 5px 10px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 16px;
}



span.psw {
    float: right;
    padding-top: 16px;
}




/*Footer Styles*/

footer {
    /*border: 1px solid black;*/
    background-color: dimgrey;
    clear: left;
    margin-top: 20px;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    position: static;
}

    footer p {
        color: dodgerblue;
        font-style: normal;
        font-size: 0.8em;
        text-align: center;
    }

