USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetUserRoles]    Script Date: 3/10/2019 1:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER     PROCEDURE [dbo].[spBogGetUserRoles] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT r.[Role.PK], r.RoleName FROM RolesT r;

    return @@ROWCOUNT;
END
