USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddPropProf]    Script Date: 2/28/2019 3:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    fnBogCheckReservDates.sql
-- Author:		Team115
-- Create date: 02/24/2019
-- Description:	Stored procedure used if a property has already been reserved for 
--              the specified date rate.  If no rows are returned then the dates
--              are available.
--
-- Constraint:  both dates must be greater than current date, checkout date must be
--              at least 1 day after checkin date.
-- ==================================================================================
CREATE OR ALTER FUNCTION [dbo].fnBogCheckReservDates
(
    @propertyId smallint = 0,
    @checkinDate date,
    @checkoutDate date
)
RETURNS INT
BEGIN
    DECLARE @result int = -1;
    DECLARE @currDate date = GETDATE();

    -- Make sure parameters are valid
    IF (@propertyId > 0
        AND @checkinDate >= @currDate
        AND @checkoutDate > @checkinDate)
        BEGIN   
            IF NOT EXISTS (SELECT 1 FROM ReservationT r
                                WHERE [PropertyID.FK] = @propertyId
                                    AND @checkinDate >= r.CheckIn
                                    AND @checkoutDate <= r.CheckOut)
                BEGIN
                    -- No reservations exist for this property and date range
                    SET @result = 0;   
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
