USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogLogin]    Script Date: 2/19/2019 9:07:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Team115
-- Create date: 02/20/2019
-- Description:	Queries the datbase with login
--  credentials.  If found, user is logged in
--  otherwise user is not logged in
--
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[spBogLogin]
(
    @email nvarchar(50) = null,
    @password nvarchar(20) = null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from [User.Tbl] u
        where u.Email = @email 
            AND u.Password = @password
END
