USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogAddPropProf]    Script Date: 3/5/2019 1:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================================================
-- Filename:    spBogAddReservProf.sql
-- Author:		Team115
-- Create date: 03/05/2019
-- Description:	Stored procedure used to add a new reservation to the BOG database.
-- 
-- Constraint:  Checks to ensure dates are valid for the specified property.
-- ==================================================================================
CREATE OR ALTER         PROCEDURE [dbo].[spBogAddReservProf]
(
    @propertyType smallint = 1,
    @address nvarchar(30) = null,
    @city nvarchar(30) = null,
    @state nchar(2) = null,
    @zipcode int = null,
    @dailyPrice smallmoney = 0,
    @numBedrooms smallint = 0,
    @numBathrooms smallint = 0,
    @sqft smallint = 0,
    @guestCnt smallint = 0,
    @pic image = null
)
AS
BEGIN
    DECLARE @result int = -1;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @address = LTRIM(RTRIM(@address));
    SET @city = LTRIM(RTRIM(@city));
    SET @state = LTRIM(RTRIM(@state));

    -- Make sure parameters are valid
    IF ((@propertyType >= 1 AND @propertyType <= 3)
        AND (@address IS NOT NULL)
        AND (@city IS NOT NULL) 
        AND (@state IS NOT NULL)
        AND ((ISNUMERIC(@zipcode) = 1) AND @zipcode > 0) 
        AND ((ISNUMERIC(@dailyPrice) = 1) AND @dailyPrice > 0)
        AND ((ISNUMERIC(@numBedrooms) = 1) AND @numBedrooms >= 0)
        AND ((ISNUMERIC(@numBathrooms) = 1) AND @numBathrooms >= 0)
        AND ((ISNUMERIC(@sqft) = 1) AND @sqft >= 0) 
        AND ((ISNUMERIC(@guestCnt) = 1) OR @guestCnt >= 0))
        BEGIN   
            IF NOT EXISTS(SELECT * FROM [PropertyT] p
                            WHERE p.Address = @address
                                AND p.City = @city
                                AND p.State = @state
                                AND p.Zipcode = @zipcode)
                BEGIN
                    INSERT INTO [PropertyT]
                        VALUES (@propertyType, @address, @city, @state, @zipcode, @dailyPrice, 
                                @numBedrooms, @numBathrooms, @sqft, @guestCnt, @pic);

                    -- Return the unique key for this new record
                    SET @result = SCOPE_IDENTITY();
                END
        END

    -- Return the result of this operation
    RETURN @result;
END
