@charset "utf-8";

/*
   Class:         CIS665
   Assignment:    HOE4
   Name:          Robert Palumbo
   Due Date:      2.12.2019 @ 11:59pm

   HTML - Hands-on-Exercise 4
   
   Star Dust Stories Design Styles
   
   Filename: sdEffects.css

*/

/* HTML Styles */
html {
    /* RLP: Step 3a */
    height: 100%;
    background: url("sdBack1.png") no-repeat center center fixed;
    background-size: cover;
}

/* Body Styles */

body {
    /* RLP: Step 3b i-v */
    box-sizing: border-box;
    background-image: url("sdBack2.png"), radial-gradient(closest-corner at 40% 70%, white 15%, rgba(151,151,151,0.5) 50%), radial-gradient(closest-corner at 80% 40%, white 15%, rgba(0,0,0,0) 30%), radial-gradient(closest-side at 10% 20%, white 20%, rgba(0,0,0,0) 45%);
    background-color: rgb(151,151,151);
    
    /* RLP: Step 3c */
    box-shadow: rgb(31, 31, 31) 30px 0px 45px, rgb(31, 31, 31) -30px 0px 45px;
}


/* Navigation List Styles */

body > header a {
    /* RLP: Step 3d */
    border: 5px rgb(211,211,255);
    border-style: outset;
}


/* Section Left Styles */

section#left article h1 {
    color: rgb(211,211,211) !important;
    text-shadow: 0px 0px 5px black;
}

img#mportrait {
   filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9))  grayscale(0.7) opacity(0.6);
   transform: rotateY(180deg);
}

/* Footer Styles */

footer {
    /* RLP: Step 3f */
    border-top: solid;
    border-top-width: 2px;
    border-top-color: rgb(171,171,171);
}
