/*
    CIS665 - HOE2
    Robert Palumbo
    1.30.19
*/
@charset "utf-8";

/* Structural Styles */
html {
    background-color: rgb(173, 189, 227);
}

body {
    background-color: rgb(227, 210, 173);
    font-family: Century Gothic, sans-serif;
}

footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}

footer address {
    font: normal; 
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Heading Styles */
h1, h2 {
    font-weight: normal;
}

/* Navigation Styles */
nav > ul {
    list-style-type: none;
    line-height: 2em;
    font-size: 0.9em;
}

nav ul a:link {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav ul a:visited {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav ul a:hover {
    color: rgb(212,35,35);
}

nav ul a:active {
    color: rgb(212,35,35);
}

/* Article Styles */

article#tourSummary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

article p {
    font-size: 1.1em;
}

article#tourSummary p:first-of-type::first-line {
    font-size:1.2em;
    font-variant:small-caps;
}


/* Aside Styles */

aside#tourItinerary h1 {
    font-size: 1.2em;
}

aside#tourItinerary h2 {
    font-size: 0.9em;
}

aside#tourItinerary p {
    font-size: 0.8em;
}

aside#tourItinerary h2:nth-of-type(odd), aside#tourItinerary p:nth-of-type(odd) {
    color: rgb(79,91,40);
}

aside#tourItinerary h2:nth-of-type(even), aside#tourItinerary p:nth-of-type(even) {
    color: rgb(81,95,175);
}


/* Blockquote Styles */

article#tourSummary blockquote {
    background-color: rgb(173,189,227);
    color: rgb(255,255,255);
    opacity: 0.65;
}

    article#tourSummary blockquote p {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px;
        padding-right: 10px;
    }