/* the asp-for tag helper attribute automatically assigns input elements to a class (e.g., input-validation-error), for which style rules can be defined */

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: rgb(255,238,238);
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}