body {
    /* body is a BOX that can be resized */

    font-size: larger;
    width: 850px;
    padding: 10px;  /* applies to all 4 sides */
    margin: 0px auto; /* 2 numbers, 1st # is for top/bottom, 2nd is left/right */

    border-width: 10px;
    border-color: gold;
    border-style: solid;
}

/* this is used to fake the browser into thinking there is something else coming 
    needed to help align things when you float and clear etc.

    This will expand the border to cover parapraph 2, 3
*/
body::after { /* psuedo element */
    clear: both; /* floats */
    content: "";
    display: block;
}

h1 { /* also a BOX to control */
    text-align: center;
    border-style: solid;
    border-color: green;
    height: 300px;
    /* create a drop shadow around h1 
         1st 5px is to the right, 2nd 5px to the bottom
         if negative # the to the left and then to the top
         last number blurs the shadow

     */
    text-shadow: red 5px 5px 0px;
    text-shadow: red 5px 5px 25px;
    text-shadow: red -5px -5px 25px;
    box-shadow: green 10px 10px 20px;
    box-shadow: inset green 10px 10px 20px;

    /* create concentric circles repeating at 10% of the background for each circle */
    background: repeating-radial-gradient(circle, red, white, blue 10%);
    background: repeating-radial-gradient(circle, red, white, blue 50%);
    /*background: repeating-radial-gradient(circle, red, white, blue 90%);*/
}

#one { /* one is an ID in html doc for paragraph 1 */
    width: 40%;  /* 40% of the containing element which here is the body above, all relative */
    margin-left: 2%;
    border-color: red;
    border-style: dotted;
    padding: 30px;

    border-radius: 30px;  /* curves or rounds the border corners 
                            could specify unique values for each of 4 corners */

    /* floating objects or boxes, this takes the content it untethers that block or paragraph
        so anything after it are placed next to each other, default behavior (i.e. li) is 
        one item after the other
    */
    float: left;    /* pulls any content that follows up next to current block 
                        you can stop float at any time   */

}

img { /* there is only 1 image in this html */
    margin-left: 50px;
    margin-top: 20px;

    transform: rotate(180deg);  /* rotate an image */
    filter: sepia(0.9);    /* changes look of the image, may NOT be supported by all browsers, IE for one */
   
}

article {
    clear: both;  /* end the float at article (left & right) */
}

#two { /* paragraph 2 by id */
    float: left;
    width: 45%;
    border-style: double;
    border-width: 10px;
    border-color: green;
    color: red;
    padding: 15px;
    background-color: lightgray;
    
    /* For ANY BOX you can create a background image for it 
        NOTE: image will be repeated to FILL the entire background
        so you have to specify how you want it to FILL
    */
    background-image: url('ramslogo.png');
    background-repeat: no-repeat;             /* can repeat on X Y axis */
    background-position: center;
    background-size: cover;

    background-clip: content-box;
    background-origin: content-box;
}

#three {
    float: left;
    margin-left: 5%;
    width: 40%;
    border-color: blue;
    padding: 5px;
    border-style: solid;
    height: 100px;
    overflow: auto;  /*  HUGE: creates scrollbars if contents doesn't fit */
}
    