USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByUserId]    Script Date: 3/12/2019 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER     PROCEDURE [dbo].[spBogGetCommentsByUserId] 
(
	-- Add the parameters for the stored procedure here
    @userId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
    WHERE c.[UserIdFK] = @userId
	ORDER BY c.DateSubmitted DESC;

    RETURN @@ROWCOUNT;
END
