USE [Team115DB]
GO
/****** Object:  StoredProcedure [dbo].[spBogGetCommentsByPropId]    Script Date: 3/24/2019 1:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER       PROCEDURE [dbo].[spBogGetCommentsByPropId] 
(
	-- Add the parameters for the stored procedure here
    @propId int = 0 
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CommentsT c
    WHERE c.[PropertyIdFK] = @propId
	ORDER BY c.DateSubmitted DESC;

    RETURN @@ROWCOUNT;
END
